body {
    background-color: #F9FDF3;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
/*Cabeçalho*/
header {
    display: flex;
    justify-content: center;
    align-items: center;
}

#navegacao {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 20px;
  z-index: 1000;
}

#navegacao #card-logo-navegacao {
    position: absolute;
    width: 30px;
    height: 30px;
    margin-bottom: 50px;
    margin-right: 1800px;
}

#navegacao #card-links-navegacao .links-navegacao {
    margin-right: 50px;
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
}



/*Introdução*/
#introducao {
    display: flex;
    justify-content: center;
    align-items: center;
}

#introducao #card-introducao {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../assets/images/backgrounds/backgroundHome.jpg");
    background-size: cover;
    background-position: center;

}